/* Drop styles */
body{
  margin: 0;
}
*, *:before, *:after{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  line-height: 1;
}
p{
  margin: 0;
  line-height: 1.6;
}
a{
  line-height: 1;
}
img{
  display: block;
}
/* ====================================== */

/* Basic vars */
/*
background-color: #322d52
active-color: #00e0d0
white-color: #fff
title-color: #413d4b
text-color1: #2f2d35
text-color-2: #333

transition-time: .2s
 */
/* ====================================== */

/* Basic classes */
.container{
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}
.separator::after{
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 25px auto;
  background-color: #00e0d0;
}
.separator--grey::after{
  background-color: #c6c4c9;
}
.separator--team::after{
  background-color: #fff;
  opacity: .3;
}
/* ====================================== */

/* Intro */
.intro{
  width: 100%;
  background-color: #322d52;
  background-image: url(../images/intro/background_p.png);
  background-size: cover;
  position: relative;
}
.intro__inner{
  width: 100%;
  height: 100vh;
  /* min-height: 670px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__content{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro__title{
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 900;
  color: #fff;
}
.intro__text{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 50px;
  line-height: 1.6;
}
.intro__slider{

}
.intro__menu{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.intro__pages{
  display: block;
  margin: 0 3px;
  font-size: 0;
  padding: 5px;
  border: 1px solid #bab9bc;
  border-radius: 50%;
  transition: background-color .2s linear;
}
.intro__pages:hover{
  background-color: #00e0d0;
}
.intro__pages.active{
  background-color: #00e0d0;
}
/* ====================================== */

/* Header */
.header{
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ====================================== */

/* Nav */
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link{
  display: block;
  padding: 5px;
  margin-left: 15px;
  line-height: 1;

  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 900;

  color: #fff;
  transition: color .2s linear;
}
.nav__link:hover{
  color: #00e0d0;
}
.nav__link.active{
  color: #00e0d0;
}

.nav__toggle{
  display: none;
}
.nav__btn{
  background: transparent;
  border: 0;

  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}


.nav__btn__line, .nav__btn__line::before, .nav__btn__line::after{
  display: block;
  width: 30px;
  height: 3px;
  left: 0;
  background-color: #fff;
  position: absolute;
}
.nav__btn__line{
  transition: background-color .2s linear;
  top: 50%;
  transform: translateY(-50%);
}
.nav__btn__line:after, .nav__btn__line:before{
  content: "";
  transition: background-color .2s linear, transform .2s linear;
}
.nav__btn__line:after{
  bottom: 0;
  transform: translateY(8px);
}
.nav__btn__line:before{
  top: 0;
  transform: translateY(-8px);
}
.nav__btn:hover .nav__btn__line, .nav__btn:hover .nav__btn__line:after, .nav__btn:hover .nav__btn__line:before{
  background-color: #00e0d0;
}

.nav__btn.active .nav__btn__line{
  background-color: transparent;
}
.nav__btn.active .nav__btn__line:before{
  top: 0;
  transform: rotate(45deg);
}
.nav__btn.active .nav__btn__line::after{
  top: 0;
  transform: rotate(-45deg);
}
/* ====================================== */

/* Btn */
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;

  font-family: 'Hammersmith One', sans-serif;
  font-size: 15px;
  font-weight: normal;

  text-transform: uppercase;
  text-decoration: none;
  color: #00e0d0;
  border: 2px solid #00e0d0;
  border-radius: 2px;

  transition: background-color .2s linear, color .2s linear;
}
.btn:hover{
  background-color: #00e0d0;
  color: #333;
}
button.btn{
  background-color: transparent;
}
/* ====================================== */

/* Section */
.section{
  width: 100%;
  padding: 70px 0;
}
.section--story{
  background-color: #322d52;
  background-image: url(../images/story/background_p.png);
  background-size: cover;
}
.section--team{
  background-color: #322d52;
  background-image: url(../images/team/background_p.png);
  background-size: cover;
}
.section--testimonals{
  background-color: #322d52;
  background-image: url(../images/testimonals/background_p.png);
  background-size: cover;
}
.section__inner{
  width: 100%;
}
.section__header{
  text-align: center;
}
.section__title{
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.section__title.white-text{
  color: #fff;
}
.section__text{
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2f2d35;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.section__text.white-text{
  color: #fff;
}
/* ====================================== */

/* About */
.about{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about__col{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__col--left{
  width: 40%
}
.about__col--right{
  width: 60%
}
.about__image{
  width: 65%;
  height: auto;
  margin: 0 auto;
}
.about__content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about__title{
  margin-bottom: 20px;

  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700px;
  letter-spacing: 1px;
  color: #413d4b;
  text-transform: uppercase;
}
.about__text{
  font-size: 14px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto", sans-serif;

  margin-bottom: 30px;
}
/* ====================================== */

/* Story */
.story{
  width: 100%;
  height: 360px;;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.story__btn{
  color: #fff;
  transition: color .2s linear;
  font-size: 120px;
}
.story__btn:hover{
    color: #00e0d0;
}
.story__text{
  display: block;
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 900;
  transition: color .2s linear;
}
.story__text:hover{
  color: #00e0d0;
}
/* ====================================== */

/* Expertise */
.expertise{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.expertise__item{
  width: 33.3333333333333%;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 250px;

  /* border: 1px solid #ebebeb; */
}
.expertise__image{

}
.expertise__title{
  margin-top: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.expertise__text{
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #333333;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  }
/* ====================================== */

/* Team */
.team{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team__list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
}
.team__container{
  width: 25%;
  padding: 0 20px;
  margin-bottom: 20px;
}
.team__container:last-child{
  margin-bottom: 0px
}
.team__member{
  height: 310px;
  border: 1px solid #79768c;
  text-align: center;
}
.team__image{
  background: grey;
  overflow: hidden;
  width: 100%;
  height: 230px;
  position: relative;
}
.team__image img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.team__name{
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
.team__prof{
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 13px;
  color: #fafafa;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.team__text{
  text-align: center;
  margin-top: 65px;
  margin-bottom: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #f3f3f3;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
/* ====================================== */

/* Works */
.works__title{
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.works__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works__link{
  text-decoration: none;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.works{
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.works_list{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.works__item{
  background-color: #777;
  overflow: hidden;
  width: 16.6666666666%;
  height: 200px;
  position: relative;
}
.works__item.darkgrey{
  background-color: #555;
}
.works__image{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
/* ====================================== */

/* Testimonals */
.testimonals{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonals__list{
  margin-top: 40px;
  width: 70%;
}
.testimonals__item{
  display: none;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonals__item.active{
  display: flex;
}
.testimonals__quotes{
  color: #fff;
  font-size: 33px;
}
.testimonals__text{
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.testimonals__author{
  margin-top: 45px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
.testimonals__prof{
  margin-top: 10px;
  opacity: .7;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.testimonals__slider{
  width: 50%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonals__slider__item{
  width: 10%;
  cursor: pointer;
}
.testimonals__slider__item.active{
  width: 20%
}
.testimonals__slider__image{
  display: block;
  width: 100%;
  height: auto;
}
.testimonals__slider__btn{
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #9d9d9e;
  width: 7%;
  font-size: 20px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  transition: color .2s linear;
}
.testimonals__slider__btn:hover{
  color: #00e0d0;
}
/* ====================================== */

/* Contacts */
.contacts{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
}
.contacts__item{
  width: 50%;
  padding: 0 30px;
}
.contacts__title{
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Form */
.form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}
.form__input{
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto", sans-serif;

  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  transition: border-color .2s linear;
}
.form__input::placeholder{
  color: #a5a5a5;
}
.form__input:hover{
  border-color: #00e0d0;
}
.form__input:focus{
  outline: 0;
  border-color: #00e0d0;
}
.form__input.textarea{
  resize: none;
}

/* Brands */
.clients{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.clients__item{
  margin-bottom: 30px;
  width: 50%;
  /* max-height: 150px; */
}
.clients__image{
  /* width: 100%;
  height: auto; */
  width: 100%;
  max-width: 120px;
  height: auto;
  /* margin: 0 auto; */
}

/* Footer */
.footer{
  padding: 60px 0;
  background-color: #322d52;
  background-image: url(../images/footer/background_p.png);
  background-size: cover;
}
.footer__row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.footer__row:last-child{
  margin-bottom: 0;
}
.footer__col{
  width: 33.3333333333333%;
  padding-right: 40px;
}
.footer__col:last-child{
  padding-right: 0;
}
.footer__links{

}
.footer__link{
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 50px;
  transition: color .2s linear;
}
.footer__link:hover, .footer__link:focus{
  outline: 0;
  color: #00e0d0;
}
.footer__copyright{
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.footer__text{
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.footer__title{
  margin-top: 10px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto",sans-serif;
}
.footer__adress{
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto",sans-serif;
}
.footer__phone{
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.footer__logo{
  margin-bottom: 21px;
  display: inline-block;
}
.footer__adress{
  padding-left: 20px;
  position:relative;
}
.footer__phone{
  margin-top: 20px;
  padding-left: 20px;
  position:relative;
}
.footer__icon{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50%);
}
.footer__form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.footer__input{
  width: 72.41%;
  display: block;
  padding: 0 15px;
  height: 45px;
}
.footer__btn{
  width: 24.13%;
  display: block;
  height: 45px;
  background-color: #fff;
  opacity: .5;
  transition: background-color .2s linear, opacity .2s linear;
  border: 0;
}
.footer__btn img{
  height: 70%;
  width: auto;
  margin: 0 auto;
}
.footer__input{
  border: 1px solid #9e98b0;
  background-color: transparent;
  transition: border-color .2s linear;
  color: #fff;
}
.footer__input:hover, .footer__input:focus{
  border-color: #00e0d0;
  outline: 0;
}
.footer__input--placeholder{
  color: #fff;
  opacity: .75;
}
.footer__btn:hover, .footer__btn:focus{
  outline: 0;
  background-color: #00e0d0;
  opacity: 1;
}
.footer__socialslist{
  display: flex;;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer__socials{
  margin-right: 10px;
  width: 35px;
  height: 35px;

  display: flex;;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-decoration: none;
  font-size: 15px;

  border: 1px solid #fff;
  border-radius: 50%;
  transition: color .2s linear, border-color .2s linear;
}
.footer__socials:last-child{
  margin-right: 0;
}
.footer__socials:hover, .footer__socials:focus{
  outline: 0;
  border-color: #00e0d0;
  color: #00e0d0;
}







@media (max-width: 1230px) {

}
@media (max-width: 990px) {
  .team__list{
    justify-content: center;
  }
  .team__container{
    width: 48%;
    max-width: 300px
  }
  .works__item{
    width: 25%;
  }
}
@media (max-width: 770px) {
  .nav{
    display: none;
  }
  .nav__toggle{
    display: block;
  }
  .intro__menu{
    padding-bottom: 40px;
  }
  .expertise__item{
    width: 50%;
  }
  .works__item{
    width: 33.3333333333333%;
  }
  .contacts__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
  }
  .contacts__item:last-child{
    margin-bottom: 0;
  }
  .form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients{
    max-width: 500px;
  }
  .clients__item{
    padding: 20px;
    margin-bottom: 0;
  }
  .clients__image{
    margin: 0 auto;
  }
  .footer__row{
    justify-content: center;
  }
  .footer__col{
    width: 100%;
    max-width: 500px;
    padding-left: 30px;
  }
  .footer__col{
    margin-bottom: 40px;
  }
  .footer__col:last-child{
    margin-bottom: 0;
  }
  .footer__title{
    margin-bottom: 15px;
  }
  .footer__socials{
    margin-right: 7px;
  }
  .footer__socials:last-child{
    margin-right: 0;
  }
  .footer__links{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__link{
    margin-right: 0;
  }
  .footer__copyright{
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .section{
    padding: 30px 0;
  }
  .intro__content{
    width: 100%;
  }
  .intro__title{
    font-size: 27px;
  }
  .intro__text{
    margin-bottom: 30px;
  }
  .intro__menu{
    padding-bottom: 20px;
  }
  .btn{
    height: 30px;
  }
  .about__content{
    align-items: center;
  }
  .about__col{
    width: 100%;
    margin-bottom: 40px;
  }
  .about__col:last-child{
    margin-bottom: 0;
  }
  .about__col--left, .about__col--right{
    width: 100%;
  }
  .about__image{
    width: 30%;
  }
  .story{
    height: auto;
  }
  .expertise__item{
    width: 100%;
    max-width: 350px;
  }
  .team__container{
    width: 100%;
    max-width: 250px
    padding:0;
  }
  .team__text{
    margin-top: 30px;
  }
  .works__link{
    text-align: center;
    width: 30%;
    /* min-width: 100px; */
  }
  .works{
    margin-top: 30px;
  }
  .works_list{
    margin-bottom: 30px;
  }
  .works__item{
    width: 50%;
  }
  .testimonals__list{
    width: 100%;
  }
  .testimonals__slider{
    width: 70%;
  }
  .footer{
    padding: 30px 0;
  }
}
